body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #f2ff00;
}

#Project {
  background-color: #f2ff00;
}

section {
  padding-top: 5rem;
}

footer {
  background-color: aqua;
}

.navbar {
  background-color: aqua;
}
